.btn-primary {
  background-color: $primary;
  display: inline-block;
  padding: 0 3rem;
  line-height: 4rem;
  border-radius: 0.6rem;

  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: $white;
  transition: background 0.3s;
  &:hover {
    background: $secondary;
  }
}
